@font-face {
    font-family: Lato-Black;
    src: url("assets/fonts/Lato-Black.ttf")
}

@font-face {
    font-family: Lato-Bold;
    src: url("assets/fonts/Lato-Bold.ttf")
}

@font-face {
    font-family: Lato;
    src: url("assets/fonts/Lato-Regular.ttf")
}

@font-face {
    font-family: Lato-Light;
    src: url("assets/fonts/Lato-Light.ttf")
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0px;
    padding: 0pх;
}

.wrop {
    min-width: 1020px;
}

header {
    height: 89px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    position: fixed;
    width: 100%;
    top: 0;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    z-index: 99999;
}

header:target::before {
    content: "";
    display: block;
    height: 95px;
    margin: -95px 0 0;
    visibility: hidden;
}

.header-nav {
    padding-top: 2px;
    margin: 0 auto;
    max-width: 940px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 87px;
    color: #fff;
}

.logo {
    padding-bottom: 2px;
    font-size: 25px;
    line-height: 7px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: -0.5px;
}

.logo_star {
    color: #ea676b;
    font-size: 25px;
    line-height: 6px;
    font-family: "Lato-Light";
    font-weight: 700;
    text-align: left;
    letter-spacing: -0.5px;
}

.nav_link {
    padding-top: 17px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12.45px;
    font-family: "Lato";
    color: #ffffff;
    transition: all 0.3s ease;
    padding-left: 1px;
}

nav>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 7.1px;
    padding-bottom: 1px;
    letter-spacing: -0.1px;
    text-align: justify;
}

nav>ul>li::after {
    content: "·";
    color: #494e62;
    margin: 0 9.6px;
    width: 4px;
    height: 4px;
}

nav>ul>li:last-child::after {
    display: none;
}

.nav_link:hover {
    cursor: pointer;
    color: #f06c64;
}

.activated {
    color: #f06c64;
}

ul li {
    display: inline-block;
}

.slider_content {
    width: 100%;
    height: inherit;
    margin: auto;
    display: flex;
    background-color: #f06c64;
    justify-content: center;
    align-items: center;
    border-bottom: 6px solid #ea676b;
    transition: 1;
    margin-top: 89px;
}

.services {
    background-color: #f2f2f2;
    height: 494px;
    border-bottom: 6px solid #fff;
}

.services-content {
    max-width: 940px;
    padding: 0;
    margin: 0 auto;
}

.services-title {
    padding-top: 60px;
    font-family: "Lato-Black";
    font-size: 30px;
    color: #666d89;
}

.services-description {
    margin-top: 19px;
    font-family: "Lato";
    font-size: 17.5px;
    line-height: 29px;
    letter-spacing: 0px;
    color: #767e9e;
    text-align: justify;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.services-wrapper {
    margin-top: 46px;
    margin-right: 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.services-column {
    width: 300px;
}

.services-column>div:last-child {
    margin-top: 30px;
}

.services-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.services-item-icon {
    margin-top: 2px;
    width: 56px;
    height: 54px;
    position: relative;
    border: 2px solid #666d89;
    border-radius: 50%;
}

.services-item-icon img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.services-item-info {
    width: 220px;
}

.services-item-title {
    font-size: 18px;
    line-height: 18px;
    font-family: "Lato-Black";
    color: #666d89;
}

.services-item-description {
    flex-wrap: wrap;
    margin-top: 8px;
    font-size: 12px;
    line-height: 22px;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
    color: #767e9e;
    letter-spacing: 0px;
}

.portfolio {
    height: 863px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.portfolio_content {
    margin: 0 auto;
    max-width: 940px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.portfolio_description {
    padding-top: 69px;
    letter-spacing: -0.22px;
    height: 85px;
}

.portfolio_buttons {
    height: 22px;
}

.portfolio_description h1 {
    letter-spacing: -0.3px;
    padding-bottom: 26px;
    margin: 0 auto;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato-Black";
    font-weight: 900;
    text-align: left;
}

.portfolio_description p {
    margin: 0 auto;
    max-width: 940px;
    height: 42px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
}

.portfolio_images {
    max-width: 940px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio_img {
    margin-top: 19px;
    width: 220px;
    height: 187.5px;
}

ul {
    padding: 0px;
}

ul>li {
    list-style: none;
}

ul li {
    display: inline-block;
    text-transform: capitalize;
}

.nav_btn {
    /*   text-decoration: none; */
    font-size: 12px;
    line-height: 21.56px;
    color: #717997;
    font-family: "Lato";
    font-weight: 400;
    display: inline-flex;
    justify-content: space-between;
    border-radius: 5px;
    border: 1px solid #666d89;
    padding: 0px 6px;
    margin-right: 6.5px;
    text-align: center;
}

.activat {
    color: white;
    border-color: #ffffff;
}

.nav_btn:hover {
    color: #dedede;
    cursor: pointer;
    border-color: #ffffff;
}

.about-us {
    height: 727.5px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}

.about-us_content {
    margin: 0 auto;
    max-width: 940px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.about-us_description {
    margin-top: 67px;
}

.about-us_description h1 {
    text-transform: capitalize;
    padding-bottom: 26px;
    margin: 0 auto;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato-Black";
    font-weight: 900;
    text-align: left;
}

.about-us_description p {
    padding: 0 auto;
    margin: 0 auto;
    max-width: 940px;
    font-size: 18px;
    line-height: 32px;
    color: #767e9e;
    font-family: "Lato-Light";
    font-weight: 300;
    text-align: left;
}

.first {
    letter-spacing: 0.15px;
    height: 31px;
}

.second {
    letter-spacing: 0px;
}

.about-us_info {
    margin-top: 44px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fir {
    width: 300px;
    height: 175px;
}

.sec {
    width: 300px;
    height: 175px;
}

.thir {
    width: 300px;
    height: 175px;
}

.about-us_title {
    height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 13px;
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    letter-spacing: 0.18px;
}

.about-us_descr {
    padding-top: 10px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: justify;
    letter-spacing: -0.2px;
}

.socialmedia {
    padding-top: 21px;
}

.socialmedia img {
    padding-right: 1.97px;
    opacity: 0.7;
    transition: transform 0.1s linear;
}

.socialmedia img:hover {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.2);
}

.portfolio_images>.portfolio_img:nth-child(n+13) {
    display: none;
}

.quote {
    height: 648px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.quote_content {
    max-width: 940px;
    margin: 0 auto;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.quote_description {
    padding-top: 69px;
    letter-spacing: -0.22px;
}

.quote_description h1 {
    letter-spacing: -0.3px;
    padding-bottom: 26px;
    margin: 0 auto;
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato-Black";
    font-weight: 900;
    text-align: left;
}

.quote_description p {
    margin: 0 auto;
    max-width: 940px;
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato-Light";
    font-weight: 400;
    text-align: justify;
    letter-spacing: 0.15px;
}

footer {
    height: 76px;
    background-color: #2d303a;
}

.quote_info {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 600px 350px;
    grid-template-rows: 430px;
    margin-top: 28px;
    margin-bottom: 17px;
}

.quote_input {
    text-align: center;
}

.contacts-form__input {
    border: none;
    padding: 0;
    margin: 0;
    height: 38px;
    border-radius: 5px;
    background-color: #d6564f;
    color: #f48c8f;
    width: 604px;
    margin-top: 16px;
    padding-left: 15px;
    font-size: 12px;
    line-height: 22px;
    font-family: "Lato";
    font-weight: 400;
}

.submit {
    float: left;
    width: 100px;
    text-align: center;
    padding-left: 0px;
    border: 1px solid white;
}

.submit:hover {
    cursor: pointer;
    background: #797474;
}

.contacts-form__textarea {
    padding: 0;
    margin: 0;
    margin-top: 16px;
    border: none;
    height: 38px;
    border-radius: 5px;
    background-color: #d6564f;
    color: #f48c8f;
    width: 604px;
    height: 195px;
    padding-top: 7px;
    padding-left: 15px;
    font-size: 12px;
    line-height: 22px;
    font-family: "Lato";
    resize: none;
}

.contacts-form__input::placeholder,
.contacts-form__textarea::placeholder {
    color: #f48c8f;
}

.contacts-form__input:focus {
    border: 2px solid red;
    border-radius: 4px;
}

.contacts-form__input {
    outline: none;
}

.contact_info {
    padding-top: 13px;
    padding-left: 40px;
}

.contact_info h2 {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: "Lato-Bold";
    color: #f0d8d9;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 24px;
}

.contact_info__description {
    padding: 0;
    margin: 0;
    padding-top: 7px;
    width: 300px;
    font-size: 12px;
    margin-bottom: 23px;
    line-height: 22px;
    letter-spacing: -0.03px;
    text-align: justify;
    color: #f0d8d9;
    font-family: "Lato";
}

.contacts-info__address {
    padding: 0;
    margin: 0;
    background: url("assets/images/location-icon.png") 3px 2px no-repeat;
    color: #f0d8d9;
}

.contacts-info__phone {
    padding: 0;
    margin: 0;
    background: url("assets/images/phone-icon.png") 1px 2px no-repeat;
    margin-top: 6px;
}

.contacts-info__email {
    padding: 0;
    margin: 0;
    background: url("assets/images/mail-icon.png") 0 5px no-repeat;
    margin-top: 7px;
}

.contacts-info__address,
.contacts-info__phone,
.contacts-info__email {
    padding-left: 23px;
    font-size: 12px;
    width: 120px;
    font-family: "Lato";
}

.phone-link,
.email-link {
    text-decoration: none;
    color: #f0d8d9;
}

.phone-link:hover,
.email-link:hover {
    text-decoration: underline;
}

.footer_content {
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.copyright p {
    padding-top: 15px;
    padding-left: 2px;
    font-size: 12px;
    color: #666d89;
    line-height: 6px;
    letter-spacing: -0.19px;
    text-align: justify;
    font-family: "Lato";
    font-weight: 400;
}

.footer_socialmedia {
    padding-top: 21px;
}

.footer_socialmedia img {
    padding-right: 0.95px;
    opacity: 1;
    transition: transform 0.1s linear;
}

.footer_socialmedia img:hover {
    cursor: pointer;
    opacity: 0.2;
    transform: scale(1.2);
}


/*kostyli*/

.slider {
    width: 1020px;
    position: relative;
    height: 300px;
    margin: auto;
    background-color: #f06c64;
    height: 594px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

.blue {
    background-color: #648BF0;
    height: 594px;
}

.slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@-webkit-keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/*Slide 1*/

.slider__phone {
    position: absolute;
    z-index: 1;
}

.phone-one {
    top: 53px;
    left: 112px;
}

.phone-two {
    transform: rotate(90deg);
    top: 53px;
    right: 258px;
}

.slider__shadow {
    opacity: 1;
    position: absolute;
}

.shadow-one {
    top: 53px;
    right: 668px;
    opacity: 0.2;
}

.shadow-two {
    transform: scale(1, -1) rotate(90deg);
    top: 53px;
    right: 233px;
    opacity: 0.2;
}

.slider__img {
    position: absolute;
    z-index: 3;
}

.img-one {
    top: 115px;
    left: 123px;
}

.img-bl-one {
    z-index: 2;
    top: 115px;
    left: 123px;
}

.img-two {
    top: 185px;
    right: 199px;
}

.img-bl-two {
    z-index: 2;
    top: 113px;
    right: 270px;
    transform: scale(1, -1) rotate(90deg);
}

.disabled {
    display: none;
}

.slider__arrow {
    position: absolute;
    z-index: 4;
    transition: transform 0.1s linear;
}

.slider__arrow:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.arrow-left {
    left: 42px;
    top: 281px;
}

.arrow-right {
    right: 41px;
    top: 281px;
}


/*Slide 2*/

.phone1 {
    left: 383px;
    top: 43px;
}

.display1 {
    top: 112px;
    left: 397px;
}

.shadow1 {
    left: 383px;
    top: 43px;
}

.phone2 {
    left: 252px;
    top: 152px;
    opacity: 0.5;
}

.display2 {
    top: 194px;
    left: 261px;
    opacity: 0.5;
}

.shadow2 {
    left: 252px;
    top: 152px;
    opacity: 0.5;
}

.slider__img2 {
    position: absolute;
    z-index: 0;
}

.slider__phone2 {
    position: absolute;
    z-index: 0;
}

.phone3 {
    left: 611px;
    top: 152px;
    opacity: 0.5;
}

.display3 {
    top: 194px;
    left: 621px;
    opacity: 0.5;
}

.shadow3 {
    left: 612px;
    top: 152px;
    opacity: 0.5;
}


/* Modal */


/* Modal */

.modal .modal__open {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.md-effect-1 .modal__content {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.modal__open .md-effect-1 .modal__content {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.body-lock {
    overflow: hidden;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5)
}

.modal__open {
    display: flex;
}

.modal__content {
    background-color: #666d89;
    color: whitesmoke;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    max-height: 90vh;
}

.modal__content p {
    font-size: 20px;
    line-height: 1;
    font-family: "Lato";
    font-weight: 400;
    font-style: oblique;
    text-align: center;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: fit-content;
}

.modal-theme {
    font-size: 20px;
    line-height: 1;
    font-family: "Lato";
    font-weight: 400;
    overflow: hidden;
    word-wrap: break-word;
    word-wrap: break-word;
    text-overflow: ellipsis;
    max-height: fit-content;
}

.modal-descr {
    font-size: 20px;
    line-height: 1;
    font-family: "Lato";
    font-weight: 400;
    word-wrap: break-word;
    text-overflow: ellipsis;
}

.modal__close {
    background-color: #d6564f;
    font-size: 14px;
    line-height: 22px;
    font-family: "Lato";
    font-weight: 700;
    border-radius: 10px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 50px;
}

.modal__close:hover {
    cursor: pointer;
    background-color: #df928e;
}

.header.cbp-af-header-shrink {
    height: 66px;
    z-index: 99999;
    opacity: 0.7;
}