@font-face {
    font-family: Lato-Black;
    src: url("assets/fonts/Lato-Black.ttf")
}

@font-face {
    font-family: Lato-Bold;
    src: url("assets/fonts/Lato-Bold.ttf")
}

@font-face {
    font-family: Lato;
    src: url("assets/fonts/Lato-Regular.ttf")
}

@font-face {
    font-family: Lato-Light;
    src: url("assets/fonts/Lato-Light.ttf")
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0px;
    padding: 0pх;
}

.wrop {
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
}

header {
    height: 89px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    position: fixed;
    width: 100%;
    max-width: 1020px;
    top: 0;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    z-index: 100;
}

header:target::before {
    content: "";
    display: block;
    height: 95px;
    margin: -95px 0 0;
    visibility: hidden;
}

.header-nav {
    padding-top: 2px;
    margin: 0 auto;
    max-width: 92.15686274509804%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 87px;
    color: #fff;
}

.logo {
    padding-bottom: 2px;
    font-size: 25px;
    line-height: 7px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    transition: all ease 1s;
}

.logo_star {
    color: #ea676b;
    font-size: 25px;
    line-height: 6px;
    font-family: "Lato-Light";
    font-weight: 700;
    text-align: left;
    letter-spacing: -0.5px;
}

.nav_link {
    padding-top: 17px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12.45px;
    font-family: "Lato";
    color: #ffffff;
    transition: all 0.3s ease;
    padding-left: 1px;
}

nav>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 7.1px;
    padding-bottom: 1px;
    letter-spacing: -0.1px;
    text-align: justify;
}

nav>ul>li::after {
    content: "·";
    color: #494e62;
    margin: 0 9.6px;
    width: 4px;
    height: 4px;
}

nav>ul>li:last-child::after {
    display: none;
}

.nav_link:hover {
    cursor: pointer;
    color: #f06c64;
}

.activated {
    color: #f06c64;
}

ul li {
    display: inline-block;
}

.slider_content {
    width: 100%;
    margin: auto;
    display: flex;
    height: 600px;
    background-color: #f06c64;
    justify-content: center;
    align-items: center;
    border-bottom: 6px solid #ea676b;
    transition: 1;
    margin-top: 89px;
}

.services {
    background-color: #f2f2f2;
    min-height: 550px;
    border-bottom: 6px solid #fff;
}

.services-content {
    max-width: 92.15686274509804%;
    padding: 0;
    margin: 0 auto;
}

.services-title {
    padding-top: 60px;
    font-family: "Lato-Black";
    font-size: 30px;
    color: #666d89;
}

.services-description {
    margin-top: 19px;
    font-family: "Lato";
    font-size: 17.5px;
    line-height: 29px;
    letter-spacing: 0px;
    color: #767e9e;
    text-align: justify;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.services-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
    margin-top: 50px;
}

.services-item-icon {
    margin-top: 2px;
    width: 56px;
    height: 54px;
    position: relative;
    border: 2px solid #666d89;
    border-radius: 50%;
}

.services-item-icon img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.services-item-info {
    width: 70%;
}

.services-item-title {
    font-size: 18px;
    line-height: 18px;
    font-family: "Lato-Black";
    color: #666d89;
}

.services-item-description {
    flex-wrap: wrap;
    margin-top: 8px;
    font-size: 12px;
    line-height: 22px;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
    color: #767e9e;
    letter-spacing: 0px;
}

.portfolio {
    min-height: 863px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.portfolio_content {
    margin: 0 auto;
    max-width: 92.15686274509804%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.portfolio_description {
    padding-top: 69px;
    letter-spacing: -0.22px;
    height: 85px;
}

.portfolio_buttons {
    height: 22px;
}

.portfolio_description h1 {
    letter-spacing: -0.3px;
    padding-bottom: 26px;
    margin: 0 auto;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato-Black";
    font-weight: 900;
    text-align: left;
}

.portfolio_description p {
    margin: 0 auto;
    height: 42px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
}

.portfolio_images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio_img {
    margin-top: 19px;
    width: 220px;
    height: 187.5px;
}

ul {
    padding: 0px;
}

ul>li {
    list-style: none;
}

ul li {
    display: inline-block;
    text-transform: capitalize;
}

.nav_btn {
    /*   text-decoration: none; */
    font-size: 12px;
    line-height: 21.56px;
    color: #717997;
    font-family: "Lato";
    font-weight: 400;
    display: inline-flex;
    justify-content: space-between;
    border-radius: 5px;
    border: 1px solid #666d89;
    padding: 0px 6px;
    margin-right: 6.5px;
    text-align: center;
}

.activat {
    color: white;
    border-color: #ffffff;
}

.nav_btn:hover {
    color: #dedede;
    cursor: pointer;
    border-color: #ffffff;
}

.about-us {
    min-height: 727.5px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}

.about-us_content {
    margin: 0 auto;
    max-width: 92.15686274509804%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.about-us_description {
    margin-top: 67px;
}

.about-us_description h1 {
    text-transform: capitalize;
    padding-bottom: 26px;
    margin: 0 auto;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato-Black";
    font-weight: 900;
    text-align: left;
}

.about-us_description p {
    padding: 0 auto;
    margin: 0 auto;
    font-size: 18px;
    line-height: 32px;
    color: #767e9e;
    font-family: "Lato-Light";
    font-weight: 300;
    text-align: left;
}

.about-us_info {
    margin-top: 44px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fir {
    width: 30%;
    height: 175px;
}

.sec {
    width: 30%;
    height: 175px;
}

.thir {
    width: 30%;
    height: 175px;
}

.about-us_title {
    height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 13px;
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    letter-spacing: 0.18px;
}

.about-us_descr {
    padding-top: 10px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: justify;
}

.socialmedia {
    padding-top: 21px;
}

.socialmedia img {
    padding-right: 1.97px;
    opacity: 0.7;
    transition: transform 0.1s linear;
}

.socialmedia img:hover {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.2);
}

.portfolio_images>.portfolio_img:nth-child(n+13) {
    display: none;
}

.quote {
    min-height: 648px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.quote_content {
    max-width: 92.15686274509804%;
    margin: 0 auto;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.quote_description {
    padding-top: 69px;
    letter-spacing: -0.22px;
}

.quote_description h1 {
    letter-spacing: -0.3px;
    padding-bottom: 26px;
    margin: 0 auto;
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato-Black";
    font-weight: 900;
    text-align: left;
}

.quote_description p {
    margin: 0 auto;
    max-width: 940px;
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato-Light";
    font-weight: 400;
    text-align: justify;
    letter-spacing: 0.15px;
}

footer {
    height: 76px;
    background-color: #2d303a;
}

.quote_info {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 63.53125% 35.314286%;
    /* grid-template-rows: 98.5325581395%; */
    margin-top: 28px;
    margin-bottom: 17px;
}

.quote_input {
    text-align: center;
}

.contacts-form__input {
    border: none;
    padding: 0;
    margin: 0;
    height: 38px;
    border-radius: 5px;
    background-color: #d6564f;
    color: #f48c8f;
    width: 93.311258%;
    margin-top: 16px;
    padding-left: 15px;
    font-size: 12px;
    line-height: 22px;
    font-family: "Lato";
    font-weight: 400;
}

.submit {
    float: left;
    width: 25%;
    text-align: center;
    padding-left: 0px;
    border: 1px solid white;
    margin-left: 10px;
}

.submit:hover {
    cursor: pointer;
    background: #797474;
}

.contacts-form__textarea {
    padding: 0;
    margin: 0;
    margin-top: 16px;
    border: none;
    height: 38px;
    border-radius: 5px;
    background-color: #d6564f;
    color: #f48c8f;
    width: 93.311258%;
    height: 195px;
    padding-top: 7px;
    padding-left: 15px;
    font-size: 12px;
    line-height: 22px;
    font-family: "Lato";
    resize: none;
}

.contacts-form__input::placeholder,
.contacts-form__textarea::placeholder {
    color: #f48c8f;
}

.contacts-form__input:focus {
    border: 2px solid red;
    border-radius: 4px;
}

.contacts-form__input {
    outline: none;
}

.contact_info {
    padding-top: 13px;
    padding-left: 40px;
}

.contact_info h2 {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: "Lato-Bold";
    color: #f0d8d9;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 24px;
}

.contact_info__description {
    padding: 0;
    margin: 0;
    padding-top: 7px;
    font-size: 12px;
    margin-bottom: 23px;
    line-height: 22px;
    letter-spacing: -0.03px;
    text-align: justify;
    color: #f0d8d9;
    font-family: "Lato";
}

.contacts-info__address {
    padding: 0;
    margin: 0;
    background: url("assets/images/location-icon.png") 3px 2px no-repeat;
    color: #f0d8d9;
}

.contacts-info__phone {
    padding: 0;
    margin: 0;
    background: url("assets/images/phone-icon.png") 1px 2px no-repeat;
    margin-top: 6px;
}

.contacts-info__email {
    padding: 0;
    margin: 0;
    background: url("assets/images/mail-icon.png") 0 5px no-repeat;
    margin-top: 7px;
}

.contacts-info__address,
.contacts-info__phone,
.contacts-info__email {
    padding-left: 23px;
    font-size: 12px;
    width: 120px;
    font-family: "Lato";
}

.phone-link,
.email-link {
    text-decoration: none;
    color: #f0d8d9;
}

.phone-link:hover,
.email-link:hover {
    text-decoration: underline;
}

.footer_content {
    max-width: 92.15686274509804%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.copyright p {
    padding-top: 15px;
    padding-left: 2px;
    font-size: 12px;
    color: #666d89;
    line-height: 6px;
    letter-spacing: -0.19px;
    text-align: justify;
    font-family: "Lato";
    font-weight: 400;
}

.footer_socialmedia {
    padding-top: 21px;
}

.footer_socialmedia img {
    padding-right: 0.95px;
    opacity: 1;
    transition: transform 0.1s linear;
}

.footer_socialmedia img:hover {
    cursor: pointer;
    opacity: 0.2;
    transform: scale(1.2);
}


/*kostyli*/

.slider {
    width: 100%;
    max-width: 1020px;
    position: relative;
    margin: auto;
    background-color: #f06c64;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    transition: all ease 1s;
}

.blue {
    background-color: #648BF0;
}

.slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
    animation-timing-function: linear;
    transition: all ease 1s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/*Slide 1*/

.slider__phone {
    position: absolute;
    z-index: 1;
}

.phone-one {
    position: absolute;
    margin-top: -23.4%;
    left: 11%;
    width: 21.1%;
}

.phone-two {
    transform: rotate(90deg);
    margin-top: -23.4%;
    right: 25.5%;
    width: 21.1%;
}

.slider__shadow {
    opacity: 1;
    position: absolute;
}

.shadow-one {
    margin-top: -23.4%;
    width: 23.5%;
    left: 11%;
    opacity: 0.3;
}

.shadow-two {
    transform: scale(1, -1) rotate(90deg);
    margin-top: -22.7%;
    right: 22.7%;
    width: 23.5%;
    opacity: 0.3;
}

.slider__img {
    position: absolute;
    z-index: 3;
}

.img-one {
    margin-top: -17.2%;
    left: 12.1%;
    width: 19%;
}

.img-bl-one {
    z-index: 2;
    margin-top: -17.2%;
    left: 12.1%;
    width: 19%;
}

.img-two {
    right: 19.5%;
    margin-top: -10.5%;
    width: 33.2%;
}

.img-bl-two {
    z-index: 2;
    margin-top: -17.5%;
    right: 26.5%;
    width: 19%;
    transform: scale(1, -1) rotate(90deg);
}

.disabled {
    display: none;
}

.slider__arrow {
    position: absolute;
    z-index: 4;
    transition: transform 0.1s linear;
    width: 2%;
}

.slider__arrow:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.arrow-left {
    left: 4.2%;
    top: 45.1%;
}

.arrow-right {
    right: 4.1%;
    top: 45.1%;
}


/*Slide 2*/

.phone1 {
    left: 38.3%;
    margin-top: -24.7%;
    width: 21.1%;
}

.display1 {
    margin-top: -18.4%;
    left: 39.5%;
    width: 18.5%;
}

.shadow1 {
    left: 38.3%;
    margin-top: -24.7%;
    width: 23.1%;
}

.phone2 {
    left: 25.2%;
    margin-top: -13.7%;
    width: 13.1%;
    opacity: 0.5;
}

.display2 {
    margin-top: -9.8%;
    left: 26.1%;
    width: 11.4%;
    opacity: 0.5;
}

.shadow2 {
    left: 25.2%;
    margin-top: -13.7%;
    width: 15.1%;
    opacity: 0.5;
}

.slider__img2 {
    position: absolute;
    z-index: 0;
}

.slider__phone2 {
    position: absolute;
    z-index: 0;
}

.phone3 {
    left: 59.1%;
    margin-top: -13.7%;
    width: 13.1%;
    opacity: 0.5;
}

.display3 {
    margin-top: -9.7%;
    left: 60%;
    width: 11.4%;
    opacity: 0.5;
}

.shadow3 {
    left: 59.2%;
    margin-top: -13.7%;
    width: 15.1%;
    opacity: 0.5;
}


/* Modal */


/* Modal */

.modal .modal__open {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.md-effect-1 .modal__content {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.modal__open .md-effect-1 .modal__content {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.body-lock {
    overflow: hidden;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5)
}

.modal__open {
    display: flex;
}

.modal__content {
    background-color: #666d89;
    color: whitesmoke;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    max-height: 90vh;
}

.modal__content p {
    font-size: 20px;
    line-height: 1;
    font-family: "Lato";
    font-weight: 400;
    font-style: oblique;
    text-align: center;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: fit-content;
}

.modal-theme {
    font-size: 20px;
    line-height: 1;
    font-family: "Lato";
    font-weight: 400;
    overflow: hidden;
    word-wrap: break-word;
    word-wrap: break-word;
    text-overflow: ellipsis;
    max-height: fit-content;
}

.modal-descr {
    font-size: 20px;
    line-height: 1;
    font-family: "Lato";
    font-weight: 400;
    word-wrap: break-word;
    text-overflow: ellipsis;
}

.modal__close {
    background-color: #d6564f;
    font-size: 14px;
    line-height: 22px;
    font-family: "Lato";
    font-weight: 700;
    border-radius: 10px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 50px;
}

.modal__close:hover {
    cursor: pointer;
    background-color: #df928e;
}

.header.cbp-af-header-shrink {
    height: 66px;
    z-index: 100;
}


/* Hamburger */

.header .hamburger {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 20px;
    top: 30px;
    z-index: 5;
    transition: transform 0.3s ease;
}

.header .hamburger:hover {
    cursor: pointer;
}

.header .hamb,
.header .hamb::before,
.header .hamb::after {
    position: absolute;
    background-color: #fff;
    width: 20px;
    height: 2px;
    margin-top: 15px;
    border-radius: 20px;
    z-index: 5000;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}

.header .hamb::before,
.header .hamb::after {
    content: "";
}

.header .hamb::before {
    transform: translateY(-7px);
    margin-left: 0px;
    margin-top: 0px;
}

.header .hamb::after {
    transform: translateY(7px);
    margin-left: 0px;
    margin-top: 0px;
}

.header .hamb {
    display: none;
}

.hamb_opened {
    transform: rotate(90deg);
    transition: all ease 1s;
    height: 100vh;
}

.shadow {
    box-shadow: 150px 0px 0px calc(100vw - 278px) rgba(0, 0, 0, 0.4);
    transition: all ease 0.6s;
}

.logo_left {
    margin-left: 0px;
    z-index: 6000;
    transition: all ease 1s
}

.blur {
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: #2d303a;
    opacity: 0.9;
    position: absolute;
    z-index: 99999;
    top: 0;
}

@media (min-width: 768px) and (max-width: 1020px) {
    .slider_content {
        height: 60vw;
    }
    .services-wrapper {
        justify-content: space-around;
    }
    .services {
        min-height: 700px;
    }
    .services-item {
        width: 42%;
        margin-top: 50px;
    }
    .portfolio {
        min-height: 1065px;
    }
    .portfolio_images {
        justify-content: space-around;
    }
    .portfolio_img {
        min-width: 218.55px;
        width: 30%;
    }
    .fir {
        height: AUTO;
    }
    .sec {
        height: auto;
    }
    .thir {
        height: auto;
    }
    .fir img {
        max-width: 100%;
    }
    .sec img {
        max-width: 100%;
    }
    .thir img {
        max-width: 100%;
    }
    .modal__content {
        width: 350px;
    }
}

@media (max-width: 767px) {
    .services-wrapper {
        justify-content: space-around;
    }
    .services {
        min-height: 700px;
    }
    .services-item {
        width: 60%;
        margin-top: 50px;
    }
    .portfolio {
        min-height: 1065px;
    }
    .portfolio_images {
        justify-content: space-around;
    }
    .portfolio_img {
        min-width: 218.55px;
        width: 47%;
    }
    .portfolio_description {
        height: 123px;
        line-height: 25px;
    }
    .portfolio_description p {
        line-height: 25px;
    }
    .fir {
        flex-wrap: wrap;
        width: 100%;
        max-width: none;
        height: 100%;
    }
    .sec {
        flex-wrap: wrap;
        width: 100%;
        max-width: none;
        height: 100%;
        padding-top: 10px;
    }
    .thir {
        flex-wrap: wrap;
        width: 100%;
        max-width: none;
        height: 100%;
        padding-top: 20px;
    }
    .about-us_info {
        margin-top: 44px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .fir img {
        width: 100%;
    }
    .sec img {
        width: 100%;
    }
    .thir img {
        width: 100%;
    }
    .fir .socialmedia img {
        width: 30px;
    }
    .sec .socialmedia img {
        width: 30px;
    }
    .thir .socialmedia img {
        width: 30px;
    }
    .modal__content {
        width: 235px;
    }
    .quote_info {
        padding: 0;
        margin: 0;
        margin-top: 10px;
        margin-bottom: 17px;
        grid: inherit;
        grid-template-rows: 69% 33%;
    }
    .contact_info {
        padding-top: 30px;
        padding-left: 0;
    }
    .copyright {
        display: none;
    }
    .footer_content {
        justify-content: center;
    }
    .about-us {
        min-height: 1900px;
    }
    .quote {
        min-height: 1030px;
    }
    .slider_content {
        height: 59vw;
    }
    .services-item-icon {
        margin-right: 15px;
    }
    .logo {
        padding-left: 148px;
    }
    .header .hamb {
        display: block;
    }
    .submit {
        width: 95%;
        margin-left: 6px;
        height: 40px;
    }
    nav {
        position: fixed;
        display: flex;
        transition: all ease 0.6s;
        padding: 0;
        align-items: center;
        top: 0;
        left: -100%;
        width: 278px;
        height: 100vh;
        background-color: #2D303A;
    }
    nav>ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;
    }
    nav>ul>li {
        margin-left: 10px;
    }
    nav>ul>li::after {
        content: "";
    }
    .nav_link {
        margin-left: 30px;
        font-weight: bold;
        font-size: 22px;
        line-height: 50px;
        list-style: none;
    }
}